DB_URL=postgresql+asyncpg://maestro_user:maestro_password@localhost:5432/maestro_db

JENKINS_URL=http://localhost:8080
JENKINS_USERNAME=seu_usuario
JENKINS_TOKEN=seu_token

GITHUB_ORGANIZATION=sua_organizacao
GITHUB_TOKEN=seu_token_do_github
